<html>
    <head>
        <meta charset="utf-8">
        
        <title>
            {{title}}
        </title>
        <style>
            span{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form id="form1">
            <input type="text" placeholder="Enter name">
            <input type="submit" value="ADD">
        </form>
        <form id="form2">
            <button>GET ALL PROFILES</button>
            <ul>
                
            </ul>
        </form>
        <script src = "/app.js"></script>
    </body>
</html>