<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <form>
            <input placeholder="ADD ADDRESS">
            <button>SUBMIT</button>
        </form>

        <h1 id='message1'></h1>
        <script src = "/js/app.js"></script>
    </body>
</html>